@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');



/* =========== hamburger ========== */
#burger-menu {
    position: absolute;
    padding: 1em 2em;
    cursor: pointer;
    top: 12px ;
    right: 10px ;
}
#burger-menu:enabled {
    background-color: red;
}

#nav-icon {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    display: block;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

#nav-icon:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #000;
    display: block;
    transform: translateY(-6px);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

#nav-icon:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #000;
    display: block;
    transform: translateY(6px);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

#nav-icon.close:before {
    opacity: 1;
    top: 0;
    transform: rotate(-45deg);
}

#nav-icon.close:after {
    opacity: 1;
    top: 0;
    transform: rotate(45deg);
}

#nav-icon.close {
    background-color: transparent;
}


/* ======= menu toggle ===== */
#menu.open {
    display: inline-block;
    background-color: #66da42;
    z-index: 100;
    max-height: 200px;

    width: 100%;
    margin-top: 1em;
    text-align: center;
    transition: all 0.3s ease;
}

@media screen and (min-width: 600px) {
    #burger-menu {
        display: none;
        transition: all 0.2s ease;
    }
    
    #menu {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: auto;
        align-items: center;
    }
    li:first-child {
        padding-right: 1em;
    }

}

@media screen and (max-width: 600px) {
    nav {
        display: block;
    }
   #menu {
       display: none;
       width: 100%;
       text-align: center;
   } 

   li {
    margin-top: 1em;
}
    #front-end {
        display: none;
    }
}


/* Animation Background */

#animation-blobs {
    z-index: -1;
}

@media screen and (max-width: 425px) {
    #animation-blobs {
        max-width: 425px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    #animation-blobs {
        max-width: 768px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1024px) {
    #animation-blobs {
        max-width: 1024px;
        overflow: hidden;
    }
}

@media screen and (max-width: 2560px) {
    #animation-blobs {
        max-width: 2560px;
        overflow: hidden;
    }
}

#blob_one {
    transition: transform 7s ease-out;
    animation: blobone 8s alternate-reverse infinite;
}

@keyframes blobone {
    0% {
        transform: translate(40px, 490px);
    }

    50% {
        transform: translate(300px, -100px);
    }

    100% {
        transform: translate(0px, 200px);
    }
}

#blob_two {
    transition: transform 9s linear;
    animation: blobtwo 10s alternate-reverse infinite;
}

@keyframes blobtwo {
    0% {
        transform: translate(149px, 370px);
    }

    80% {
        transform: translate(400px, 430px);
    }

    100% {
        transform: translate(0px, 20px);
    }
}

#blob_three {
    transition: transform 7s ease-in-out;
    animation: blobthree 12s alternate infinite;
}

@keyframes blobthree {
    0% {
        transform: translate(-49px, 120px);
    }

    40% {
        transform: translate(90px, 30px);
    }

    100% {
        transform: translate(350px, 410px);
    }
}

#blob_four {
    transition: transform 14s ease-out;
    animation: blobfour 10s alternate-reverse infinite;
}

@keyframes blobfour {
    0% {
        transform: translate(76px, 10px);
    }

    80% {
        transform: translate(-30px, 200px);
    }

    100% {
        transform: translate(50px, 20px);
    }
}

#blob_five {
    transition: transform 17s ease-out;
    animation: blobfive 10s alternate infinite;
}

@keyframes blobfive {
    0% {
        transform: translate(370px, 149px);
    }

    20% {
        transform: translate(-76px, 40px);
    }

    100% {
        transform: translate(0px, 320px);
    }
}

#blob_six {
    transition: transform 7s ease-out;
    animation: blobsix 8s alternate-reverse infinite;
}

@keyframes blobsix {
    0% {
        transform: translate(0px, -40px);
    }

    50% {
        transform: translate(-10px, 290px);
    }

    100% {
        transform: translate(150px, 485px);
    }
}

/* Projects Cards */

#cards > div{
    width: 320px;
    height: 200px;
    margin-top: 2em;
    background-color: #66da42;
    max-width:100%;
}